<div class="Header">
  <router-link class="Header__Logo" to="/dashboard">
    <img class="Header__Logo--image" src="./assets/images/Logo.png">
    <span class="Header__Logo--name">葳妮</span>
  </router-link>
  <button @click="logout">退出</button>
  <ul class="Header__menus">
    <li class="Header__menu">
      <input class="Header__search--input" type="search" />
      <span class="Header__search--icon fa fa-search"></span>
    </li>
    <li class="Header__menu">bbb</li>
    <li class="Header__menu">
      <a>ccc</a>
    </li>
  </ul>
</div>