@font-face {
  font-family: 'wb440';
  src: url('./wb440.eot');
  src: url('./wb440.woff2') format('woff2'),
       url('./wb440.woff') format('woff'),
       url('./wb440.ttf') format('truetype'),
       url('./wb440.svg#wb440') format('svg'),
       url('./wb440.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}