// font
$base_font: Arial, Helvetica, sans-serif;
$Microsoft_Yahei: "Microsoft Yahei", $base_font;
$Helvetica_Neue: "Helvetica Neue", Helvetica, $base_font;
$SourceSans_Pro: "Source Sans Pro", $Helvetica_Neue;

//color
$pink: #f30188;
$grey: #999;
$border-grey: #EEE;
$dark-grey: #727272;

// size
$min-width-desktop: 1200px;

@mixin container(){
  width: $min-width-desktop;
  margin: 0 auto;
}