@import "../../scss/index";

.UserCenter {
  &-header {
    &-topper {
      border-bottom: 1px solid $border-grey;
      &-list {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        display: table;
        width: 85vw;
        min-width: $min-width-desktop;
        &-item {
          color: $grey;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          span {
            color: $pink;
            font-size: 14px;
          }
          span, a, b {
            height: 100%;
            display: inline-block;
            margin: 0 10px;
          }

          &.left {
            float: left;
          }
          &.right {
            float: right;
          }
        }
      }
    }

    &-navigation {
      &-list {
        padding: 0;
        margin: 1px auto 0;
        list-style: none;
        display: table;
        width: 85vw;
        min-width: $min-width-desktop;
        color: $dark-grey;
        &-logo, &-menu {
          display: table-cell;
          vertical-align: middle;
        }
        &-logo {
          width: 300px;
          img {
            height: 100%;
          }
        }
        &-menu {
          &-item {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 35px;
            color: $dark-grey;
            &:hover {
              color: $pink;
            }
          }
        }
      }
    }

  }
}