@import "variable";

body {
  margin: 0;
  font-family: $Microsoft_Yahei;
  font-size: 14px;
  line-height: 1.42857143;
  background: $soft-white;
  min-width: $windows-width;
  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  &:hover,
  &:active,
  &:visited,
  &:focus{
    text-decoration: none;
    color: inherit;
  }
}

.content {
  padding: 20px 25px;
}

h1 {
  margin: 0;
}