// pink
$pink: #f30188;

// grey
$grey: #999;
$border-grey: #EEE;
$dark-grey: #727272;

// Blue
$dark-blue: #1A2229;
$blue-grey: #2D353C;

// White
$white: #FFFFFF;
$soft-white: #D9E0E7;

// Windows
$windows-width: 1024px;
$windows-height: 768px;

// Sidebar
$sidebar-width: 220px;

// Header
$header-height: 50px;