@import "../../scss/index";

$font-grey: #889097;
$font-menu-grey: #A8ACB1;
$menu-hover-background: #232A2F;
$menu-active-background: #00ACAC;

.Sidebar {
  background: $blue-grey;
  position: fixed;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: $sidebar-width;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    cursor: pointer;
    display: block;
    color: $font-menu-grey;
  }

  .Sidebar__Profile {
    padding: 20px;
    background: $dark-blue;
  }

  .Sidebar__Profile--avatar {
    display: inline-block;
    vertical-align: middle;
    &-image{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .Sidebar__Profile--info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    &-name {
      margin: 0;
      color: $white;
    }

    &-job {
      margin: 0;
      color: $font-grey;
    }
  }

  .Sidebar__Menus {
  }

  .Sidebar__Menu {
    &.active {
      .Sidebar__Menu--button {
        color: $white;
        background: $menu-active-background;
      }
    }
  }

  .isOpen {
    .Sidebar__Menu--button {
      background: $menu-hover-background;
    }
    .Sidebar__SubMenus {
      height: auto;
    }
  }

  a.Sidebar__Menu--button {
    padding: 8px 20px;
    color: $font-menu-grey;
    &:hover, &:active, &:focus, &:visited{
      color: $font-menu-grey;
      background: $menu-hover-background;
    }
  }

  .Sidebar__SubMenus {
    background: $dark-blue;
    overflow: hidden;
    height: 0;
  }

  a.Sidebar__SubMenu--button {
    padding: 10px 0 10px 30px;
    &.active {
      color: $white;
    }
    &:hover {
      color: $white;
    }
  }
}